html {
  background: #ddd;
  height: 100%;
  display: flex;
}
body{
  width: 100%;
  margin: auto;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

$main-color: #004B7F;

.navbar {
  background: $main-color;
  top: 10%;
  position: fixed;
  color: #fff;
  height: 90%;
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.head {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $main-color;
  color: #fff;
  width: 100%;
  height: 10%;
  padding-left: 15px;
  div{
    font-size: 34px;
  }
}
.divOpsNav{
  text-align: left;
  margin-left: 15px;
  margin-top: 45px;
}
.tituloNav{
  font-size: 28px;
  width: 90%;
  div{
    background-color: #fff;
    border: 1px solid #fff;
    width: 100%;
  }
}
.seccionPag {
  background-color: #fff;
  position: fixed;
  top: 10%;
  right: 0;
  width: 85%;
  height: 90%;
}

.TituloProductos{
  position: fixed;
  right: 0;
  width: 84%;
  text-align: left;
  padding-left: 15px;
  font-size: 30px;
}

.interactBar{
  position: fixed;
  right: 1%;
  top: 15%;
  width: 83%;
  height: 5%;
  border: 1px solid #000;
  button{
    background-color: inherit;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
  }
}

.tableUsers{
  position: fixed;
  right: 0;
  top: 22%;
  width: 85%;
  tr{
    th{
      background-color: gray;
      padding: 10px;
    }
  }
  tr{
    td{
      button{
        background-color: inherit;
        border: none;
        cursor: pointer;
        padding: 10px;
        color: #0000aa;
        margin: 0px 5px;
      }
    }
  }

}

.buscarID{
  position: fixed;
  padding: 5px;
}

.addProduct{
  position: fixed;
  right: 0;
  padding: 5px;
  padding-right: 15px;
}