

#section_title{
    color: #004B7F;
}

#section_filter{
    margin-top: 15px;
    padding: 15px;

    outline: 1px solid #ccc;
    border-radius: 5px;
}

#name_filter {
padding: 10px
}

.button{
    padding: 10px;
}

#button_filter{
    margin-left: 10px
}

#search_table{
    margin-top: 15px;
    width: 100%;
}

#search_table th{
    background-color: #C4C4C4;
    padding: 10px;

    font-size: 14px;
}

#search_table td{
    padding: 15px;
    text-align: center;

    font-size: 14px;
    font-weight: normal;
}

.lists{
    padding: 10px;
    box-sizing: content-box;
    text-indent: 5px;
}


table img{
    width: 50px;
    border-radius: 100%;
}